*.vssscc
*.vspscc
*.suo
*.user
*.dll
*.NET40.cs
*.bak
*.map
*.opensdf
*.sdf
obj/
bin/
Build/
packages/
Debug/
Release/
_ReSharper.WCF Architect 2/
_ReSharper.WCF Architect Testing/
WCF Architect 2/