*.vssscc
*.vspscc
*.suo
*.user
*.dll
*.pdb
*.pri
*.NET40.cs
*.bak
*.map
*.opensdf
*.sdf
*.DotSettings
obj/
bin/
Build/
packages/
Debug/
Release/
_ReSharper.WCF Architect 2/
_ReSharper.WCF Architect Testing/
NETPath 2/